{% extends 'base.html' %}
{% block content %}

    <div class="container-xxl py-5">
        <div class="container">
            <div class="card shadow-lg border-0 rounded-4 p-4 wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="mb-3 text-primary">Глаголдар 2 сабак</h2>

                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item"><strong>🗣️ Язык:</strong>Орыс тілі</li>
                    <li class="list-group-item"><strong>⏱️ Длительность:</strong>30 мин</li>
                    <li class="list-group-item"><strong>⭐ Рейтинг:</strong>4.7</li>
                    <li class="list-group-item"><strong>💡 Тип курса:</strong>

                        <span class="badge bg-success text-white">ТЕГІН</span>
                    </li>
                </ul>

                <div class="ratio ratio-16x9 rounded overflow-hidden shadow-sm">
                    <iframe src="https://www.youtube.com/embed/Vxvu8P_NUdM?si=SEgnfIlmbIs296Kl" frameborder="0"
                            allowfullscreen></iframe>
                </div>


                <div class="text-end">
                    <a href="{% url 'lesson_detail2' %}" class="btn btn-primary btn-lg">
                        Келесі сабақ ➡️
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
